<section class="items-center px-2">
  <div class="container flex items-center">
    <div class="text-xl">PRODUCTS</div>
    <div class="ml-4"><a href="/products/addProduct">Add</a></div>
    <div class="ml-4"><a href="/products/updateProduct">Update</a></div>
    <div class="ml-4"><a href="/products/deleteProduct">Delete</a></div>
    <form action="/products/searchProduct" method="post" class="flex">
      <input class="mx-2 my-2 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="text" name="search" value="" placeholder="Enter Product id">
      <button class="btn-primary rounded-full text-white font-bold px-4 my-2 rounded focus:outline-none focus:shadow-outline" type="submit">Search</button>
  </form>
  </div>
  <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>_id</th> 
            <th>Product name</th> 
            <th>@Price</th>
        </tr>
    </thead> 
    <tbody>
      <% for(var i = 0;i < products.length;i++){%>
        <tr>
            <td><%= products[i]._id%></td>
            <td><%= products[i].productName%></td>
            <td>₹<%= products[i].price%></td>
        </tr>
      <%}%>
    </tbody>
</table>
</section>